body {
	background-color: tomato;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
body:after {
	background-image: url(pizza.svg);
	background-position: center center;
	background-repeat-x: no-repeat;
	background-size: contain;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.1;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
h1 {
	color: #FFF;
	font-family: 'Oswald',sans-serif;
	font-size: 70px;
	letter-spacing: 1px;
	text-align: center;
}
ul {
	padding: 0;
}
a {
	color: #FFF;
}
.pizza {
	list-style-type: none;
	margin: 70px auto;
	max-width: 500px;
	padding: 0;
	width: 95%;
}
.pizza__pizzeria {
	background: #fff;
	border-radius: 5px;
	color: tomato;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}
.pizza img {
	width: 200px;
	height: 200px;
}
.pizza__pic {
	border-radius: 100%;
	border: solid 5px #fff;
	padding: 5px;
}
.pizza svg {
	display: inline-block;
	fill: currentColor;
	height: 50px;
	width: 50px;
}
.footer {
	line-height: 1.5;
	padding: 0 20px;
}
.footer span {
	white-space: nowrap;
}